extends base

block content 
    if errorMsg 
        span=errorMsg 
    
    form(method="POST")
        input(placeholder="Username", name="username", type="text", required)
        input(placeholder="Password", name="password", type="password", required)
        input(type="submit", value="LogIn")
        br
        a(href="https://github.com/login/oauth/authorize?client_id=bbb94458388405cea69b&allow_signup=false") Continue with Github
    hr
    div 
        span Don't have an account?
        a(href="/join") Create New one &rarr;
