extend base.pug

block content 

    div
        video#preview
        button#startBtn Start Recording
    if errorMessage
        span=errorMessage
    form(method="POST" action="/videos/upload" enctype="multipart/form-data")
        lable(for="video") Video File 
        input(id="video", name="video", type="file", accept="video/*", required)
        input(name = "title", placeholder="Title", required, type="text", maxlength=80)
        input(name = "description", placeholder="Description", required, type="text",minlength=20)
        input(name = "hashtags, separted by comma", placeholder="Hashtags, separated by comma.", required, type="text")
        input(type="submit", value="Upload video")

block scripts 
    script(src="/static/js/recorder.js")